@{
    Layout = null;
}

<div>
    <div class="container">
        <div class="content-header"></div>
        <div id="divContent">
            <div class="container" id="containerMenu">
                <div class="content-sub-menu bar"></div>
            </div>
            <div class="container" id="divUser">
                <div class="flex-column pt-2 pb-2">
                    <div id="divUserList"></div>
                </div>
            </div>
            <div class="container" id="divPlan">
                <div class="flex-column pt-2 pb-2">
                    <div id="divPlanList"></div>
                </div>
            </div>
        </div>
    </div>
</div>