@font-face {
    font-family: Prompt-Light;
    src: url('Prompt-Light.ttf') format('truetype');
}

:root {
    --font-c: #404040;
    --btn-bgc: #f1f1f1;
    --txt-br: #b4b4b4;
    --bd-c: #bdbdbd;
    --bd-pale-c: #dedede;
    --font-cHd: #1f6375;
    --btn-br: #939393;
    --error-c: #a94442;
    --bg-purple: #724dcc;
    --bg-blue: #3856ac;
    --bg-green: #289cbb;
    --bg-search: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjCQwJJxza18vgAAABJUlEQVQoz3XQv0sCcRzG8ff3PBdpSAJdEqqlc2kIgnAyMKKCloisP0DQc2iz8fa2yNPphhqEuNnBzCWyprhqaZUgKBD31O811P0o8plfn+eBjwAoxKK6u0+aMY/uRdIyRvgRUJ6XTTQkPaLMAl2xU+17QCnEZBONBnPmgplS0lyRkbah+CCqo9EwD81XgLOXxBY3Ivu+6wM3j6QSbBojjkEc+IBFet/XXhL3DNECMEblV94iKMhg4plUWQsDdY0ITtBwDvLU8FtKU5yAtHyQtOiy/nFdyiAMtbzBLUvY9U7oUfqMtEUWGKIQAWw2eXK3a4MfAAh9z82jIXGkVe+U7ljlwc3VBh74k6PpzxYrOCJX7f8LwmQCgGJctFmmPRFAMS4uReULFxJcg51blRkAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTktMDktMTJUMDk6Mzk6MjgrMDA6MDCZ/2DLAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTA5LTEyVDA5OjM5OjI4KzAwOjAw6KLYdwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=') no-repeat 2px center;
    --bg-excel: var(--btn-bgc) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAS1BMVEUAAAAfckYfckYfckYfckYfckYfckYfckYfckYfckb///8fckZWlXNypos6g1zx9vNIjGgselHH3NHj7ejV5dy408Sqyrmcwa2Ar5ZgQT2pAAAACnRSTlMAPw8f769Pf9+/Hl9YOwAAAINJREFUeNqNkoMVwFAUQ2sk5ff+k9bmPXymtxD4aZzROxAmaZ5xxNtI84gb3gYPrGL0ZODZABA9k6EtCrIpqouhApq2RnVNZWBL6JsaFWqJ4lqDFIDgnaEE3G27ClB3hhLqvoZEWUJcDSVqtjWK+5U0RfVrV/8NnHg2RE+nfX6Gx/fpAAsdFGeGGtp+AAAAAElFTkSuQmCC');
    --select-arrow: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAG1JREFUOI3tzj0Kg2AQhOFHqxAQyRkEIY0XsAl4gxAIHjoXsPIcFmpjLD7wJ5LSt5vdmdnl5O/ccdnwFIi+Ig6WDZ64LoRLdBjWLsSokQTzB/KN72YivJFOukK2ZFwreaHHB+3e62HJ7Ujw5AdGZAQIe/VHND0AAAAASUVORK5CYII=');
    --btn-add-icon: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjCQoJGwHvSYEaAAAAjElEQVQ4y2NkwAKa7P8tZvjPENtwCFOOCZuGf1kMsgxyDNnY5LBqYGBGIonSgAeMaiAGMDbZ/8vE0GbJIMPAwPCE4Tia+D+m6YwNjxhkSbDgERPDf5Jc9J+FIZYhEyMR4HLSX6ZpjNiMaVjDEMzAwLC2IYQKoTSqgXwNf5FINMCCVcNUBgsGBqYp2KQAtmocIKBRQ3wAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTktMDktMTBUMDk6Mjc6MDErMDA6MDAWpeh1AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTA5LTEwVDA5OjI3OjAxKzAwOjAwZ/hQyQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=');
    --bg-close: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAALVBMVEVHR0cAAABMTExLS0tJSUlRUVFLS0tNTU1LS0tKSkpMTExMTExJSUlLS0tLS0sNRJwJAAAADnRSTlMSAM7SFRPQFM/Rtr0qzSnewpMAAABuSURBVHjaddJVAoQwFEPRPKTe7n+5IxnJSPi8B6hiNMTPgzbQ1/wRbKvj2NeGn75nxFO01xwIEelXUGFPZxAo2gkq7ASVay/shKfcOuIJIptOIkTYHfhf+cH9dP0C/Zb4TfTbbg/KHq29DPb6XAAZxAYPW8SNJwAAAABJRU5ErkJggg==') no-repeat center;
}

body {
    padding: 0;
    margin: 0;
    font-family: Prompt-Light;
    color: var(--font-c);
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input[type=date] {
    display: none;
}

input, label, textarea, select, span {
    outline: none;
    font-family: Prompt-Light;
    color: var(--font-c);
}

    input[type=button] {
        font-size: .35cm;
    }

mark {
    background: #e8cc62;
    padding-left: 5px;
    padding-right: 5px;
}

textarea {
    border: 1px solid var(--btn-br);
    padding: .2em .3em .2em .3em;
}

.hide {
    display: none !important;
}

.show {
    display: inline-block;
}

.center {
    text-align: center;
}

.scroll-hidden {
    overflow: hidden;
}

.disbleclick {
    pointer-events: none;
    opacity: .5;
    filter: grayscale(100%);
}

input:required:invalid {
    animation: required_begin 1.5s;
    background: url(../oak/img/asterisk.png)no-repeat right center !important;
}

.select-2 select:required:invalid {
    animation: required_begin 1.5s;
    background: url(../oak/img/asterisk.png)no-repeat right center !important;
}

@-moz-document url-prefix() {
    input:required:invalid {
        box-shadow: none;
    }

    select:required {
        box-shadow: none;
    }
}

/*#region <------------------ element style-------------------------<<*/
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.label_h2 {
    font-size: .5cm;
    color: var(--font-cHd);
    line-height: 2em;
}

.label_h3 {
    font-size: .45cm;
    color: var(--font-cHd);
    line-height: 2em;
}

.error_msg {
    color: var(--error-c);
    background: #ffeaea;
}

.error_msg_big {
    color: var(--error-c);
    background: #ffeaea;
    padding: 3rem 4rem 3rem 4rem;
    display: flex;
    justify-content: center;
}


.error_warning_big {
    color: #bf7f6b;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: #fdf1cf;
    width: 500px;
}

.error_label {
    color: var(--error-c);
}

.success_label {
    color: var(--font-cHd);
}

.txt-1 input[type=text],
.txt-1 input[type=number],
.txt-1 input[type=search],
.txt-1 input[type=tel],
.txt-1 input[type=password],
.txt-1 input[type=email] {
    padding: .6rem;
    border: 1px solid var(--btn-br);
    outline: none;
    color: #414141;
    box-sizing: border-box;
}

.txt-2 input[type=text],
.txt-2 input[type=number],
.txt-2 input[type=search],
.txt-2 input[type=tel],
.txt-2 input[type=password],
.txt-2 input[type=email] {
    border: 0;
    border-bottom: 1px solid #b4b4b4;
    padding: 4px 0;
}

label.btn-trans {
    background: #eaeaea;
    outline: 0;
    padding: 8px 15px 8px 15px;
    cursor: pointer;
    font-size: .9rem;
    color: var(--font-c);
    transition: .5s background;
}

    label.btn-trans:hover {
        background: #cacaca;
    }


label.btn-upload {
    background: #0b77df !important;
    color: #fff !important;
}

    label.btn-upload:hover {
        background: #0b5dad !important;
    }

.input-error {
    animation-delay: .5s !important;
    animation-iteration-count: 1 !important;
    animation-name: input_error !important;
    animation-duration: 8s !important;
}

.select-2 select {
    border: 0;
    border-bottom: 1px solid #b4b4b4;
    padding: 5px;
    -webkit-appearance: none;
    background: #fff;
    /*background: var(--select-arrow) no-repeat right;*/
}

    .select-2 select:required {
        /*background-image: url(../images/asterisk.png), var(--select-arrow);
        background-position: right center, calc(100% - 10px) center;
        background-repeat: no-repeat, no-repeat;*/
    }

select.select-2 {
    border: 0;
    border-bottom: 1px solid #b4b4b4;
    padding: 5px;
    -webkit-appearance: none;
    background: var(--select-arrow) no-repeat right;
}

    select.select-2:required {
        background-image: url(../images/asterisk.png), var(--select-arrow);
        background-position: right center, calc(100% - 10px) center;
        background-repeat: no-repeat, no-repeat;
    }

.btn-s {
    color: #686868;
    background: var(--btn-bgc);
    border: 1px solid #bdbdbd;
    padding: .2em 1em .2em 1em;
    cursor: pointer;
    outline: none;
}

.btn-download {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiBQ4EIiO9u3fkAAAAx0lEQVQoz6WQPwtBYRSHnxeDTIZbFt1JoZTFLNmU18LoG9hNBoNitZvMSjcW30HKdvkIyp9FcVPHcFO33lcGZzrnd57O+Z0DkWj1tWjRk6gWixakACT5HbDE/0D8kzSyxTo1SqCCfLpwPZxDPfEBksFrigtAFfc5N1YsT9LiDsCD9uZi8bDe00VA9VY7iweAo5+/46/GUU3pGRUZrRem/2ZHDdgmyFHGsV7oUOb28w/hmRldMFuSCQEBNWRoAgpAYngEX+cHeG/y8i9OhCRKrwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wNS0xNFQwNDozNDozNSswMjowMIgpP5MAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDUtMTRUMDQ6MzQ6MzUrMDI6MDD5dIcvAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 28px;
}

.btn-mid-size {
    padding: 10px 20px 10px 20px;
    align-self: baseline;
}

.btn-m {
    color: #686868;
    background: var(--btn-bgc);
    border: 1px solid var(--bd-c);
    padding: 6px 12px;
    cursor: pointer;
    outline: none;
}

    .btn-m:hover, .btn-s:hover {
        border: 1px solid #cc5c5c;
        animation: pulse 1s;
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
    }

.btn-accept {
    background: #0b99ab;
    border: 0;
    cursor: pointer;
    /* outline: none; */
    transition: background 1s;
}

    .btn-accept:hover {
        /* background: #0c4960; */
        /* border: 0; */
        /* animation: none; */
    }

.btn-blue {
    background: var(--bg-blue);
    border: 0;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: background 1s;
}

    .btn-blue:hover {
        background: #203a82;
        border: 0;
        animation: none;
    }

.btn-purple {
    background: var(--bg-purple);
    border: 0;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: background 1s;
}

    .btn-purple:hover {
        background: #432e79;
        border: 0;
        animation: none;
    }

.btn-orange {
    background: #ea9825;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: background 1s;
}

    .btn-orange:hover {
        background: #c88c38;
        border: 0;
        animation: none;
    }

.btn-red {
    background: #cc5c5c;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: background 1s;
}

    .btn-red:hover {
        background: #972d2d;
        border: 0;
        animation: none;
    }

.btn-newwindow:after {
    content: '';
    padding-left: 20px;
    background-image: url(../images/newwindow.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 1.1em;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #cc5c5c;
    }
}

.btn-cancel {
    border: 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAD1BMVEUAAADYACfYACfYACcAAADeclHAAAAABHRSTlMAqULrkK0WAgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiBRAJACVLdCcOAAAAO0lEQVQI12MQYgADRQZlBRDNZARCQADigjCYByIg8soKEGmgEEQAKAQRQDDgUjDFcO0wA+FWwC2FOQMA3TkGpSSe4I0AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTZUMDk6MDA6MzcrMDI6MDBPM63cAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTE2VDA5OjAwOjM3KzAyOjAwPm4VYAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-size: cover;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.btn-excel {
    background: var(--bg-excel)no-repeat 10px center;
    padding-left: 40px;
}

.bottom-line {
    border-bottom: 1px solid #b4b4b4;
}

.top-line {
    border-top: 1px solid #b4b4b4;
}

.mark-info {
    color: var(--bg-green) !important;
    background: #dcdcdc !important;
}

.mark-alert {
    color: var(--error-c) !important;
    background: transparent !important;
}

.bd-top {
    border-top: 1px solid var(--bd-c);
}

.bd-bottom {
    border-bottom: 1px solid var(--bd-c);
}

.bd-left {
    border-left: 1px solid var(--bd-c);
}

.bd-right {
    border-right: 1px solid var(--bd-c);
}

.bd-pale-top {
    border-top: 1px solid var(--bd-pale-c);
}

.bd-pale-bottom {
    border-bottom: 1px solid var(--bd-pale-c);
}

.bd-pale-left {
    border-left: 1px solid var(--bd-pale-c);
}

.bd-pale-right {
    border-right: 1px solid var(--bd-pale-c);
}
/*#endregion*/

.bar {
    align-items: baseline;
    display: flex;
    position: relative;
    flex-shrink: 0;
    flex-direction: row;
    box-sizing: border-box;
}

    .bar > * {
        align-items: center;
        align-self: stretch;
        display: flex;
        flex-shrink: 0;
        outline: none;
        position: relative;
    }

.flex-grow {
    flex-grow: 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

@media (max-width: 576px) {
    .sm-flex-row {
        display: flex;
        flex-direction: row;
    }

    .sm-flex-column {
        display: flex;
        flex-direction: column;
    }
}

.align-i-start {
    align-items: flex-start;
}

.align-i-center {
    align-items: center
}

.align-i-end {
    align-items: flex-end;
}

.align-i-stretch {
    align-items: stretch
}

.align-s-stretch {
    align-self: stretch;
}

.align-s-center {
    align-self: center;
}

.jus-center {
    justify-content: center;
}

.jus-start {
    justify-content: flex-start;
}

.jus-end {
    justify-content: flex-end;
}

.scroll-relative {
    position: relative;
    height: 100%;
}

.scroll-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.font-s {
    font-size: .85rem;
}

/*.googlemap {
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
}*/

/*#region  <--- Padding margin---<< */

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m20 {
    margin: 20px;
}

.m30 {
    margin: 30px;
}

.m50 {
    margin: 30px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt50 {
    margin-top: 50px;
}

.mt70 {
    margin-top: 70px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml50 {
    margin-left: 50px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr50 {
    margin-right: 50px;
}


.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb50 {
    margin-bottom: 50px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p20 {
    padding: 20px;
}

.p30 {
    padding: 30px;
}

.p50 {
    padding: 50px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt50 {
    padding-top: 50px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl50 {
    padding-left: 50px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr20 {
    padding-right: 20px;
}

.pr30 {
    padding-right: 30px;
}

.pr50 {
    padding-right: 50px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb50 {
    padding-bottom: 50px;
}

/*#endregion*/

/*<-----------------J s G r i d----------------------------<<*/
/*<-----------------J s G r i d----------------------------<<*/
/*#region  <---J s G r i d---<< */

.rowupdated td {
    animation: rowupdated 6s;
    animation-iteration-count: 1;
}

.jsgrid {
    border: 1px solid var(--bd-c);
    display: table-cell;
}

    .jsgrid.clear {
        border: 0;
    }

        .jsgrid.clear .jsgrid-btn-expToExcel {
            border: 0;
            background: var(--bg-excel) no-repeat 75px center;
            background-color: #fff;
        }


.jsgrid-grid-body .jsgrid-table mark {
    background: none;
}

.jsgrid, .jsgrid *, .jsgrid :after, .jsgrid :before {
    box-sizing: border-box;
}

/*.jsgrid input, .jsgrid select, .jsgrid textarea {
    }*/

.jsgrid-grid-header {
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
    position: relative;
    /* border-bottom: solid 1px #b7b7b7; */
}

.jsgrid-grid-body {
    overflow-x: auto;
    overflow-y: hidden;
}

.jsgrid-table {
    table-layout: fixed;
    border-collapse: collapse;
    color: var(--font-c);
    /* padding-top: 1px; */
}

.jsgrid-grid-body .jsgrid-table > tbody > tr > td {
    text-align: left;
    font-size: .8rem;
    padding: 8px 4px 8px 20px;
    display: flex;
    align-items: center;
    /* text-align: center; */
    /*background:#fff;*/
}

.jsgrid-header-cell, .jsgrid-сell {
    box-sizing: border-box;
}

.jsgA-center {
    text-align: center !important;
}

.jsgA-right {
    text-align: right !important;
}

.jsgrid-selected-row .jsgrid-cell {
    cursor: pointer;
}

.jsgrid-nodata-row {
    display: flex;
    display: flex;
    flex-grow: 1;
}

.jsgrid-header-sort {
    cursor: pointer;
}

.jsgrid-pager {
    background: #ffffff;
    color: var(--font-c);
}

    .jsgrid-pager a {
        color: var(--font-c);
        padding: 7px;
    }

.jsgRow {
    display: flex;
    flex-direction: row;
}

    .jsgRow th, .jsgRow td {
        flex-grow: 1
    }

.jsgP-nav-button {
    color: var(--font-c);
    cursor: pointer;
    background: #eaeaea;
}

    .jsgP-nav-button:hover {
        background: #e4e4e4;
    }

    .jsgP-nav-button > a:link {
        text-decoration: none;
        width: auto;
        /* font-size: .8rem; */
    }

    .jsgP-nav-button.dark {
        background: #d5d5d5;
    }


.jsgP-nav-inactive-button {
    display: none;
    pointer-events: none;
}

.jsgrid-header-sort:before {
    content: "Sort by";
    color: #b60000;
    position: absolute;
    top: 13px;
    font-size: .6rem;
}

.jsgrid-grid-body td {
    /* box-shadow: inset 0px -3px 3px -3px #282828; */
    /* box-shadow: inset 0px -2px 3px -3px #000000; */
    border-bottom: 1px solid #e6e6e6;
}

td {
}


.jsgrid-header-row {
    border-bottom: solid 1px #b7b7b7;
}

    .jsgrid-header-row .jsgrid-header-sort {
        background: #f1f1f1;
    }

    .jsgrid-header-row > th {
        font-weight: normal;
        font-size: 1rem;
        padding-top: 1.5em;
        padding-bottom: .5em;
        color: #2b72b6;
        cursor: pointer;
        background: #ffffff;
        transition: .5s all;
        overflow: hidden;
        text-align: left;
        padding-left: 20px;
        flex-grow: 1;
    }

        .jsgrid-header-row > th:hover {
            box-shadow: inset 0 90px 0 0 #eaeaea;
        }

.jsgrid-filter-row {
    border-bottom: 1px solid #e6e6e6;
    display: flex;
}

    .jsgrid-filter-row input[type=text], .jsgrid-filter-row input[type=number] {
        background: var( --bg-search);
        background-size: 13px;
        color: var(--error-c);
        border: 1px solid transparent;
        padding: 0 0 0 20px;
        margin: 6px 0 6px 15px;
        width: 100%;
        transition: border-bottom 1s;
        line-height: 10px;
    }

    .jsgrid-filter-row input[type=number] {
        text-align: right;
    }

    .jsgrid-filter-row input[type=checkbox] {
        width: 20px;
        height: 20px;
        margin-top: 4px;
    }

    .jsgrid-filter-row > td {
        padding: 0px;
        background: transparent;
        flex-grow: 1;
    }

.jsgrid-selected-row > td {
    transition: .5s;
    background: #ebc765;
}

.jsgrid-nodata-row > td {
    box-shadow: none;
    color: #9d9d9d;
    text-align: center !important;
    /* letter-spacing: .4cm; */
    /* font-size: .45cm !important; */
    /* padding-top: 50px !important; */
    /* padding-bottom: 30px !important; */
}

.btngriddelete {
    cursor: pointer;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAWlBMVEUAAACqVVXMXFzMW1vKYGDMXFzPYGC/YGDNW1vMXFzMXFzIW1vMW1vLXV3LW1vMXFzMXFzKW1vLW1vLXFzMXV3LXFzKX1/MXV3MXV3PYGDMXFzJXV3NXFzMXFzFa/RtAAAAHXRSTlMAA9ttGNAQCDjw/g64qEn9izV7XodZK2i+INwhVqE3l3MAAABpSURBVHja5dClAQRRFMXQO8zMkP7bXKanvt9j46KXeQfYZ1njemzbsY6yhklX06AvRWoUz1BhVM9QYpTPEERGoKfQ0FOCkTiEpuvhPKHvmp+QKYU4hlTZf4W8bmFZoK1zh4mezw/fk3QBni8ch7Dt8+sAAAAASUVORK5CYII=') no-repeat center;
    width: 24px;
    height: 24px;
    border: 0;
    /* margin-top: 5px; */
    margin-left: 20px;
}

/*.jsgrid-insert-mode-button {
    background-position: 0 -160px;
    width: 24px;
    height: 24px;
}

.jsgrid-insert-button {
    background-position: 0 -208px;
    width: 16px;
    height: 16px;
}

.jsgrid-search-mode-button {
    background-position: 0 -248px;
    width: 24px;
    height: 24px;
}

.jsgrid-search-button {
    width: 16px;
    height: 16px;
    background-image: none !important;
    pointer-events: none;
}*/

.jsgrid-update-button {
    background-position: 0 -336px;
    width: 16px;
    height: 16px;
}

.jsgrid-load-shader {
    background: #ddd;
    opacity: .5;
    filter: alpha(opacity=50);
}

.jsgrid-grid-body .jsgrid-table > tbody > tr > td.jsgrid-control-field {
    padding: 0;
}

div.jsgrid-pager {
    text-align: center;
    color: #969696;
    padding: 5px;
    font-size: .8rem;
}

.jsgP {
    /* font-size: .8em; */
}

    .jsgP:hover:not(.jsgrid-pager-current-page) {
        background: #d0d0d0;
    }

.jsgrid-pager-current-page {
    background: #0096a9;
    color: #fff;
    padding-left: 7px;
    padding-right: 7px;
}

.jsgrid-pager-container {
    justify-content: center;
}

.jsConfirmdeletebtn {
    padding: 11px 35px 11px 35px;
    margin-right: 3px;
    background: #c75959;
    border: 1px solid #9d3e3e;
    color: #ffffff;
    cursor: pointer;
}

.jsConfirmdCancelbtn {
    padding: 11px;
    color: var(--font-c);
    border: 0px;
    background: var(--btn-bgc);
    border: 1px solid var(--bd-c);
    cursor: pointer;
}

.jsgrid-delete-dialog {
    margin: 5px;
}


.jsgrid-btn-expToExcel {
    margin-left: 15px;
    padding: 7px 40px 7px 7px;
    color: #969696;
    background: var(--bg-excel) no-repeat 75px center;
    border: 1px solid #9a9a9a;
    cursor: pointer;
}

.jsgrid-dia-upd {
    margin: .5em;
    align-items: stretch;
    display: flex;
    position: relative;
    flex-shrink: 0;
    min-width: 300px;
    flex-direction: column;
}

    .jsgrid-dia-upd input[type=text],
    .jsgrid-dia-upd input[type=number],
    .jsgrid-dia-upd input[type=date],
    .jsgrid-dia-upd input[type=email] {
        flex-shrink: 0;
        border: 0;
        border-bottom: 1px solid #b4b4b4;
        padding: 3px 0 3px 3px;
    }

    .jsgrid-dia-upd input[type=checkbox] {
        width: 20px;
        height: 20px;
        margin-top: 6px;
        outline: 0;
    }

        .jsgrid-dia-upd input[type=checkbox] + label {
            position: relative;
            top: -4px;
        }

    /*.jsgrid-dia-upd .unit {
        margin-left: 5px;
        width: auto;
    }*/

    .jsgrid-dia-upd .errormsg {
        color: var(--error-c);
        font-size: .3cm;
    }

    /*.jsgrid-dia-upd .readonly, .jsgrid-dia-upd .edit {
        font-size: .4cm;
    }*/

    /*.jsgrid-dia-upd .topic {
        font-size: .8em;
        color: #5a16ca;
    }*/

    .jsgrid-dia-upd .errormsg {
        font-size: .33cm;
        align-self: baseline;
        background: #ba615f;
        color: #ffffff;
        margin-top: 3px;
        padding: 3px;
    }

    .jsgrid-dia-upd .select2-container {
        margin-top: 7px;
    }

.jsgrid-btnSave {
    margin-top: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
}

/*#endregion*/

/*<-----------------J s G r i d - Editor ------------------<<*/
/*<-----------------J s G r i d - Editor ------------------<<*/
/*#region  <---J s G r i d---<< */
.modal-body .line {
    align-items: center;
    display: flex;
    position: relative;
    flex-shrink: 0;
    flex-direction: row;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.modal-body .line_error {
    display: flex;
    flex-shrink: 0;
    flex-direction: row-reverse;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.modal-body input.textbox, .modal-body .select-2 {
    width: 100%;
    font-size: .9rem;
    padding-left: 0px;
}

.modal-body label.topic {
    display: flex;
    flex-shrink: 0;
    color: var(--blue);
    font-size: .9rem;
    color: #797979;
}

.modal-body label.read {
    /*color: var(--btn-br);*/
    font-size: .8em;
}


.modal-body label.errormessage {
    border-top: 0;
    color: var(--error-c);
    align-self: flex-end;
    align-content: flex-end;
    padding-left: 1rem;
    padding-right: 1rem;
}

.modal .line_save {
    margin-top: 20px;
}

.btn-insert-opendialog {
    display: flex;
    align-self: flex-start;
    background: var(--btn-add-icon) no-repeat 20px center, #eaeaea;
    background-size: .8rem;
    padding: 7px 20px 7px 40px;
    border: 0;
    /* border-bottom: 1px solid #eaeaea; */
    /* border-bottom: solid 1px #b7b7b7; */
    /* background: #eaeaea; */
    outline: 0;
    /* padding: 8px 15px 8px 15px; */
    position: relative;
    z-index: 2;
    cursor: pointer;
}

@supports (-ms-ime-align: auto) {
    .btn-insert-opendialog {
        left: 0;
    }
}

/*#endregion*/
/*<-----------------T o a s t------------------------------<<*/
/*<-----------------T o a s t------------------------------<<*/
/*#region <---T o a s t---<< */
.jq-toast-wrap {
    display: block;
    position: fixed;
    pointer-events: none;
    letter-spacing: normal;
    z-index: 999;
    min-width: 250px;
}

    .jq-toast-wrap.bottom-left {
        bottom: 50px;
        left: 50px;
    }

    .jq-toast-wrap.bottom-right {
        bottom: 20px;
        right: 40px;
    }

    .jq-toast-wrap.top-left {
        top: 20px;
        left: 20px;
    }

    .jq-toast-wrap.top-right {
        top: 20px;
        right: 40px;
    }

.jq-toast-single {
    display: block;
    width: 100%;
    margin: 2px 0 0 0;
    line-height: 100%;
    position: relative;
    pointer-events: none;
    color: #ffffff;
    font-size: .9em;
}

/*--var(--btn-br);*/
.datepicker_show .table-condensed {
    animation: datepicker_show .5s;
    animation-iteration-count: 1;
}

.close-jq-toast-single {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 40px;
    cursor: pointer;
    pointer-events: visible;
    color: #ffffff;
}

.jq-toast-loader {
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    left: 0;
    /* line-height:25px; */
    display: none;
}

.jq-toast-loaded {
    width: 100%;
}

.jq-has-icon {
    padding: 18px 20px 14px 20px;
    background-repeat: no-repeat;
    background-position: 10px;
}

.jq-icon-info {
    background-color: rgba(26, 26, 26, 0.6);
    animation: info_open 1s;
    animation-iteration-count: 1;
}

.jq-icon-error {
    background-color: #a94442;
    animation: info_error 1s;
    animation-iteration-count: 2;
}

.jq-icon-success {
    background-color: #2b72b6;
    animation: info_success 1s;
    animation-iteration-count: 1;
}

.jq-icon-warning {
    background-color: #d49500;
    animation: info_warning 2s;
    animation-iteration-count: 1;
}

/*#endregion */
/*<-----------------D r o p d o w n-------------------------<<*/
/*<-----------------D r o p d o w n-------------------------<<*/
/*#region <---oak.dropdown---<< */
input[type="search"].oak-ddl-searchbox {
    height: 1cm;
    border: 0;
    color: var(--error-c);
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    position: absolute;
    background: rgb(247, 247, 247) var(--bg-search);
    background-position: -10px center;
    padding: 8px 0 8px 30px;
    display: block;
    font-size: .4cm;
    transition: background .5s;
    z-index: 100;
}

    input[type="search"].oak-ddl-searchbox.fix {
        position: fixed;
    }

    input[type="search"].oak-ddl-searchbox.hide {
        display: none;
    }

    input[type="search"].oak-ddl-searchbox:focus {
        background-position: 5px center;
    }

ul.oak-ddl-options {
    position: absolute;
    display: block;
    padding: 0px;
    background: rgb(247, 247, 247);
    z-index: 10;
    font-size: .4cm;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
    text-align: left;
    outline: 0;
    z-index: 100;
    border: 1px solid #c5c5c5;
    border-top: 0;
    box-sizing: border-box;
}

    ul.oak-ddl-options.fix {
        position: fixed;
    }

    ul.oak-ddl-options.show {
        animation: oak-ddl-options_show .5s;
        animation-iteration-count: 1;
    }

    ul.oak-ddl-options.ddl {
        margin-top: 38px;
    }

    ul.oak-ddl-options.hide {
        display: none;
    }

    ul.oak-ddl-options > li {
        list-style: none;
        direction: ltr;
        padding: 8px 5px 8px 8px;
        cursor: pointer;
    }

        ul.oak-ddl-options > li.group-topic {
            background: #d8d8d8;
            transition: .5s all;
        }

            ul.oak-ddl-options > li.group-topic:hover {
                background: #a4a4a4;
                animation: none;
            }

    ul.oak-ddl-options::-webkit-scrollbar {
        background: none;
        width: .2cm;
    }

    ul.oak-ddl-options::-webkit-scrollbar-thumb {
        background: #b7b7b7;
    }

    ul.oak-ddl-options > li:hover {
        background: #efd48d;
        animation: dropdwon_hover 1s;
    }
/*#endregion */

/*<-----------------D a t e p i c k e r---------------------<<*/
/*<-----------------D a t e p i c k e r---------------------<<*/
/*#region <---oak.datebox---<< */
.datepicker {
    margin-top: 5px;
    position: absolute;
    direction: ltr;
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 0 2px #333333;
}

.datepicker-inline {
    width: 220px;
}

.datepicker.datepicker-rtl {
    direction: rtl;
}

    .datepicker.datepicker-rtl table tr td span {
        float: right;
    }

.datepicker-dropdown {
    top: 0;
    left: 0;
}

.datepicker table {
    margin: 0;
    user-select: none;
    border-collapse: separate;
    border-spacing: 15px 0px;
}

.table-condensed {
    padding-top: 15px;
}

    .table-condensed > thead .dow {
        color: #769d99;
    }

.datepicker td,
.datepicker th {
    text-align: center;
    width: 30px;
    height: 30px;
    font-weight: 100;
}

.datepicker table tr td.day {
    transition: box-shadow .5s;
}

    .datepicker table tr td.day:hover {
        box-shadow: inset 0 30px 0 0 #e0e0e0;
        cursor: pointer;
    }

.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #999;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background: none;
    color: #999;
    cursor: default;
}

.datepicker table tr td.highlighted {
    color: var(--error-c);
}

.datepicker table tr td.today {
    color: #2c77ba;
    font-weight: 800;
}

.datepicker table tr td span.focused {
    color: #789332;
    font-weight: 800;
}

.datepicker table tr td.today:after {
    content: 'วันนี้';
    padding-left: 5px;
    position: absolute;
    font-size: .3cm;
}

.datepicker-months table tr td span.focused:after {
    content: '★';
    position: absolute;
    padding-left: 5px;
    font-size: .3cm;
}

.datepicker-years table tr td span.focused:after {
    content: '★';
    position: absolute;
    padding-left: 5px;
    font-size: .3cm;
}

.datepicker table tr td.active {
    color: #90aa4e;
    font-weight: 800;
}

    .datepicker table tr td.active:after {
        content: '★';
        position: absolute;
        font-size: .3cm;
    }

.datepicker-years table,
.datepicker-months table {
    border-collapse: separate;
    border-spacing: 0;
}


.datepicker table tr td span {
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

    .datepicker table tr td span:hover {
        background: #eee;
    }

    .datepicker table tr td span.disabled,
    .datepicker table tr td span.disabled:hover {
        background: none;
        color: #999;
        cursor: default;
    }

.datepicker .datepicker-switch {
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--font-c);
    border-top: 0;
}

.datepicker .datepicker-switch,
.datepicker .prev,
.datepicker .next {
    transition: box-shadow .5s;
    cursor: pointer;
    font-size: .45cm;
}

    .datepicker .datepicker-switch:hover,
    .datepicker .prev:hover,
    .datepicker .next:hover {
        box-shadow: inset 0 40px 0 0 #e0e0e0;
    }

.datepicker tfoot tr th {
    float: left;
    text-decoration: underline;
    color: var(--error-c);
    cursor: pointer;
}

.datepicker .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle;
}

.input-append.date .add-on,
.input-prepend.date .add-on {
    cursor: pointer;
}

    .input-append.date .add-on i,
    .input-prepend.date .add-on i {
        margin-top: 3px;
    }

.input-daterange input {
    text-align: center;
}

    .input-daterange input:first-child {
        -webkit-border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
    }

    .input-daterange input:last-child {
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
    }

.input-daterange .add-on {
    display: inline-block;
    width: auto;
    min-width: 16px;
    height: 18px;
    padding: 4px 5px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
    background-color: #eee;
    border: 1px solid #ccc;
    margin-left: -5px;
    margin-right: -5px;
}
/*#endregion */

/*<-----------------D i a l o g-----------------------------<<*/
/*<-----------------D i a l o g-----------------------------<<*/
/*#region <---oak.dialog---<< */
.dialog {
    display: none;
}

.modal-open {
    overflow: hidden;
}

    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }

.modal {
    position: absolute;
    z-index: 2000;
    display: block;
    overflow: hidden;
    outline: 0;
    box-shadow: 0 0 15px -3px rgba(0,0,0,.7), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
}

.modal-slidedown {
    animation: dialog_open .7s;
    animation-iteration-count: 1;
}

.modal-fadein {
    animation: fadein .7s;
    animation-iteration-count: 1;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background: rgba(255,255,255,.8);
    border: 0;
    outline: 0;
}

.modal-header {
    display: flex;
    position: relative;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    transition: box-shadow .5s;
}

    .modal-header:hover {
        box-shadow: inset 0 50px 0 0 var(--btn-bgc);
    }

    .modal-header .close {
        background: var(--bg-close);
        border: 0;
        width: 20px;
        height: 20px;
    }

    .modal-header .modal-title {
        font-weight: 100;
        color: var(--font-c);
        margin: 0;
        font-size: 1rem;
    }

.modal-body {
    padding: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

    .modal-backdrop.fade {
        opacity: 0;
    }

    .modal-backdrop.show {
        opacity: .5;
        animation: backdrop_show 1s;
        animation-iteration-count: 1;
    }

/*#endregion*/


/*<-----------------U p l o a d-----------------------------<<*/
/*<-----------------U p l o a d-----------------------------<<*/
/*#region <---oak.upload---<<*/
.uploadinput {
    border: 1px solid #b4b4b4;
    transition: background 1s;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

    .uploadinput .discription {
        color: #b4b4b4;
        font-size: .8em;
        align-self: center;
    }

    .uploadinput:hover, .uploadinput-dragover {
        background: #fff;
        border: 1px solid #cc5c5c;
        animation: pulse 1.5s;
        animation-iteration-count: 5;
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

.upload-filesLayout {
    flex-direction: column;
}

    .upload-filesLayout div.line {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid #d7d7d7;
        justify-content: space-between;
        min-height: 0;
    }

        .upload-filesLayout div.line:hover {
            background: #ebc765;
        }


    .upload-filesLayout .line > label {
        width: auto;
    }

        .upload-filesLayout .line > label.download {
            cursor: pointer;
        }

            .upload-filesLayout .line > label.download:after {
                content: ' ↓ ';
                color: #2b72b6;
                transition: .5s padding-left;
            }

            .upload-filesLayout .line > label.download:hover:after {
                content: 'ดาวโหลด ↓';
                padding-left: 10px;
            }

        .upload-filesLayout .line > label.removebtn {
            padding-left: 10px;
            color: var(--error-c);
            cursor: pointer;
            width: 30px;
            /* float: right; */
        }

            .upload-filesLayout .line > label.removebtn:hover {
                text-decoration: underline;
            }

        .upload-filesLayout .line > label.size {
            float: right;
            padding-left: 20px;
            padding-right: 20px;
            /* width: 60px; */
        }

        .upload-filesLayout .line > label.type {
            /* float: right; */
            color: #2b72b6;
            padding-left: 20px;
            padding-right: 20px;
        }

        .upload-filesLayout .line > label.filename {
            flex-grow: 1;
        }

    .upload-filesLayout .empty {
        color: #b4b4b4;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

/*#endregion*/

/*<-----------------Materializecss Input field-----------------------------<<*/
/*<-----------------Materializecss Input field-----------------------------<<*/
/*#region <--Animation---<< */
/*.input-field {
    position: relative;
    margin-top: 20px;
}

    .input-field input {
        border: 0;
        height: 2rem;
        border-bottom: 1px solid #b4b4b4;
        padding-top: 0;
    }

        .input-field input:hover {
            border-bottom: 1px solid #3e99b7;
        }

    .input-field > label {
        left: .75rem;
        color: #9e9e9e;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1rem;
        cursor: text;
        transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out,color .5s;
        transform-origin: 0% 100%;
        text-align: initial;
        transform: translateY(10px);
    }

        .input-field > label.active {
            transform: translateY(-14px) scale(0.8);
            transform-origin: 0 0;
            color: #3e99b7;
        }

input:not([type]) + label:after {
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out;
}*/
/*#endregion*/


/*<---------------- Animation ---------------------------------*/
/*<---------------- Animation ---------------------------------*/
/*#region <--Animation---<< */
@keyframes info_open {
    0% {
        background: #e5cc08;
    }

    100% {
        background: rgba(26, 26, 26, 0.6);
    }
}

@keyframes info_warning {
    0% {
        background: #f33225;
    }

    100% {
        background: #d49500;
    }
}

@keyframes info_success {
    0% {
        background: #e5cc08;
    }

    100% {
        background: #2b72b6;
    }
}

@keyframes info_error {
    0% {
        background: #a94442;
    }

    50% {
        background: #b21e0e;
    }

    100% {
        background: #a94442;
    }
}

@keyframes rowupdated {
    0% {
        background: right;
    }

    10% {
        background: #ebb214;
    }

    60% {
        background: #ebb214;
    }

    100% {
        background: right;
    }
}

@keyframes dropdwon_hover {
    0% {
        background: #ceac51;
    }

    100% {
        background: #efd48d;
    }
}

@keyframes oak-ddl-options_show {
    0% {
        margin-top: 0;
    }

    100% {
        margin-top: 1.00cm
    }
}

@keyframes datepicker_show {
    0% {
        padding-top: 0;
    }

    100% {
        padding-top: 15px;
    }
}

@keyframes dialog_open {
    0% {
        top: -100px
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@keyframes backdrop_show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .5;
    }
}

@keyframes input_error {
    15% {
        background: #e9bf6a url(../images/asterisk.png)no-repeat right center;
    }

    95% {
        background: #f3d28f url(../images/asterisk.png)no-repeat right center;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #cc5c5c;
    }
}

/*#endregion*/

/*<-----------------Grid Search fields -----------------------------<<*/
/*<-----------------Grid Search fields-----------------------------<<*/
/*#region <--Grid Search fields---<< */
.oak-searchf-topic {
    color: #939393;
}

    .oak-searchf-topic:before {
        content: '';
        background: #2b72b6;
        color: #fff;
        transition: .5s padding;
    }

    .oak-searchf-topic.fill {
        color: #2b72b6 !important
    }

        .oak-searchf-topic.fill:before {
            content: '^';
            margin-right: 3px;
            padding-right: 3px;
            padding-left: 3px;
            background: #2b72b6;
            color: #fff;
            transition: 1s all;
        }

/* #endregion*/


/*<-----------------Checkboxes -----------------------------<<*/
/*<-----------------Checkboxes -----------------------------<<*/
.chkes {
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
    display: flex;
    align-items: center;
}

    .chkes label {
        cursor: pointer;
    }

.checkmark {
    border-radius: 50%;
    border: 1px solid #bdbdbd;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s background;
    margin-right: .3rem;
    color: #fff;
}

    .checkmark.checked {
        border: 1px solid transparent;
    }

.chkes .checkmark:hover {
    border: 1px solid #cc5c5c;
    animation: pulse 1s;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
}
