IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PB_GetMneuByRoldID]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PB_GetMneuByRoldID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PB_CommRatesImport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PB_CommRatesImport]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PB_CommRatesDownload]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PB_CommRatesDownload]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PB_Users_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PB_Users] DROP CONSTRAINT [DF_PB_Users_AddDate]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PB_CommRates_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PB_CommRates] DROP CONSTRAINT [DF_PB_CommRates_AddDate]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PB_CommRates_LastModifyDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PB_CommRates] DROP CONSTRAINT [DF_PB_CommRates_LastModifyDate]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PB_DocsAnnounce_LastModifyDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PB_AnnounceMathDocs] DROP CONSTRAINT [DF_PB_DocsAnnounce_LastModifyDate]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PB_Users]') AND type in (N'U'))
DROP TABLE [dbo].[PB_Users]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PB_RolesMenu]') AND type in (N'U'))
DROP TABLE [dbo].[PB_RolesMenu]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PB_Roles]') AND type in (N'U'))
DROP TABLE [dbo].[PB_Roles]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PB_Menu_Sub]') AND type in (N'U'))
DROP TABLE [dbo].[PB_Menu_Sub]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PB_Menu_Main]') AND type in (N'U'))
DROP TABLE [dbo].[PB_Menu_Main]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PB_CommRates]') AND type in (N'U'))
DROP TABLE [dbo].[PB_CommRates]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PB_AnnounceMathDocs]') AND type in (N'U'))
DROP TABLE [dbo].[PB_AnnounceMathDocs]
GO
IF  EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'PB_CommRatesImport' AND ss.name = N'dbo')
DROP TYPE [dbo].[PB_CommRatesImport]
GO
CREATE TYPE [dbo].[PB_CommRatesImport] AS TABLE(
	[RunNumber] [int] NULL,
	[Import Result] [varchar](200) NULL,
	[Product Code] [varchar](200) NULL,
	[Year] [varchar](100) NULL,
	[Sum Assured] [varchar](100) NULL,
	[Entry Age] [varchar](100) NULL,
	[Year 1] [varchar](100) NULL,
	[Year 2] [varchar](100) NULL,
	[Year 3] [varchar](100) NULL,
	[Year 4] [varchar](100) NULL,
	[Year 5] [varchar](100) NULL,
	[Year 6] [varchar](100) NULL,
	[Year 7] [varchar](100) NULL,
	[Year 8] [varchar](100) NULL,
	[Year 9] [varchar](100) NULL,
	[Year 10] [varchar](100) NULL,
	[Year 11+] [varchar](100) NULL
)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PB_AnnounceMathDocs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DocsGroupName] [varchar](100) NULL,
	[DocsName] [varchar](100) NULL,
	[LastModifyDate] [smalldatetime] NULL,
	[LastModifyBy] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PB_CommRates](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlanCodeExcludeYear] [varchar](200) NULL,
	[TotalYear] [varchar](100) NULL,
	[SumAssured] [varchar](100) NULL,
	[EntryAge] [varchar](100) NULL,
	[Year01] [varchar](100) NULL,
	[Year02] [varchar](100) NULL,
	[Year03] [varchar](100) NULL,
	[Year04] [varchar](100) NULL,
	[Year05] [varchar](100) NULL,
	[Year06] [varchar](100) NULL,
	[Year07] [varchar](100) NULL,
	[Year08] [varchar](100) NULL,
	[Year09] [varchar](100) NULL,
	[Year10] [varchar](100) NULL,
	[Year11] [varchar](100) NULL,
	[LastModifyDate] [smalldatetime] NULL,
	[LastModifyBy] [varchar](100) NULL,
	[AddDate] [smalldatetime] NULL,
	[AddBy] [varchar](50) NULL,
 CONSTRAINT [PK_PB_CommRates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PB_Menu_Main](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Icon] [varchar](50) NULL,
	[Text] [varchar](50) NULL,
	[PartailViewUrl] [varchar](50) NULL,
	[javascriptFn] [varchar](100) NULL,
	[OrderBy] [tinyint] NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PB_Menu_Sub](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Menu_Main] [tinyint] NULL,
	[Icon] [varchar](50) NULL,
	[Text] [varchar](50) NULL,
	[Color] [varchar](50) NULL,
	[Mycontainer] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PB_Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PB_RolesMenu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PB_Roles] [tinyint] NULL,
	[ID_PB_Menu_Sub] [tinyint] NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PB_Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](50) NOT NULL,
	[Password] [varchar](50) NULL,
	[EmployeeFullName] [varchar](100) NULL,
	[RoleID] [tinyint] NULL,
	[AddBy] [varchar](50) NULL,
	[AddDate] [smalldatetime] NULL,
	[LastLoginDate] [smalldatetime] NULL,
	[LastLoginViaURL] [varchar](100) NULL,
 CONSTRAINT [PK_PB_Users_1] PRIMARY KEY CLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PB_AnnounceMathDocs] ON 

INSERT [dbo].[PB_AnnounceMathDocs] ([ID], [DocsGroupName], [DocsName], [LastModifyDate], [LastModifyBy]) VALUES (21, N'คณิตศาสตร์ประกันภัย', N'ตัวอย่างไฟล์.jpg', CAST(N'2019-12-23T10:57:00' AS SmallDateTime), NULL)
SET IDENTITY_INSERT [dbo].[PB_AnnounceMathDocs] OFF
SET IDENTITY_INSERT [dbo].[PB_CommRates] ON 

INSERT [dbo].[PB_CommRates] ([ID], [PlanCodeExcludeYear], [TotalYear], [SumAssured], [EntryAge], [Year01], [Year02], [Year03], [Year04], [Year05], [Year06], [Year07], [Year08], [Year09], [Year10], [Year11], [LastModifyDate], [LastModifyBy], [AddDate], [AddBy]) VALUES (859, N'EN4N', N'10', N'100,000 - 499,999', N'0 - 20', N'12%', N'5%', N'3%', N'2%', N'2%', N'2%', N'2%', N'-', N'-', N'-', N'-', CAST(N'2019-12-18T16:22:00' AS SmallDateTime), NULL, CAST(N'2019-12-18T16:22:00' AS SmallDateTime), NULL)
INSERT [dbo].[PB_CommRates] ([ID], [PlanCodeExcludeYear], [TotalYear], [SumAssured], [EntryAge], [Year01], [Year02], [Year03], [Year04], [Year05], [Year06], [Year07], [Year08], [Year09], [Year10], [Year11], [LastModifyDate], [LastModifyBy], [AddDate], [AddBy]) VALUES (860, N'EN4N', N'10', N'100,000 - 499,999', N'21 - 50', N'13%', N'6%', N'4%', N'2%', N'2%', N'2%', N'2%', N'-', N'-', N'-', N'-', CAST(N'2019-12-18T16:22:00' AS SmallDateTime), NULL, CAST(N'2019-12-18T16:22:00' AS SmallDateTime), N'620029')
INSERT [dbo].[PB_CommRates] ([ID], [PlanCodeExcludeYear], [TotalYear], [SumAssured], [EntryAge], [Year01], [Year02], [Year03], [Year04], [Year05], [Year06], [Year07], [Year08], [Year09], [Year10], [Year11], [LastModifyDate], [LastModifyBy], [AddDate], [AddBy]) VALUES (861, N'EN4N', N'10', N'100,000 - 499,999', N'51 - 65', N'17%', N'10%', N'8%', N'2%', N'2%', N'2%', N'2%', N'-', N'-', N'-', N'-', CAST(N'2019-12-18T16:22:00' AS SmallDateTime), NULL, CAST(N'2019-12-18T16:22:00' AS SmallDateTime), N'620029')
GO
SET IDENTITY_INSERT [dbo].[PB_CommRates] OFF
SET IDENTITY_INSERT [dbo].[PB_Menu_Main] ON 

INSERT [dbo].[PB_Menu_Main] ([ID], [Icon], [Text], [PartailViewUrl], [javascriptFn], [OrderBy]) VALUES (1, N'search', N'ค้นหาแบบประกัน', N'Plan/IndexPartail', N'window.webFn.planFn.launch()', 1)
INSERT [dbo].[PB_Menu_Main] ([ID], [Icon], [Text], [PartailViewUrl], [javascriptFn], [OrderBy]) VALUES (2, N'file-upload', N'แก้ไขข้อมูล', N'UploadData/IndexPartail', N'window.webFn.uploaddataFn.launch()', 3)
INSERT [dbo].[PB_Menu_Main] ([ID], [Icon], [Text], [PartailViewUrl], [javascriptFn], [OrderBy]) VALUES (3, N'users-cog', N'Admin', N'Admin/IndexPartail', N'window.webFn.adminFn.launch()', 4)
SET IDENTITY_INSERT [dbo].[PB_Menu_Main] OFF
SET IDENTITY_INSERT [dbo].[PB_Menu_Sub] ON 

INSERT [dbo].[PB_Menu_Sub] ([ID], [ID_Menu_Main], [Icon], [Text], [Color], [Mycontainer]) VALUES (1, 1, N'file-pdf', N'ข้อมูลแบบประกัน', N'#ba373d', N'#container1')
INSERT [dbo].[PB_Menu_Sub] ([ID], [ID_Menu_Main], [Icon], [Text], [Color], [Mycontainer]) VALUES (2, 1, N'file-alt', N'ตารางมูลค่ากรมธรรม์', N'#839a4d', N'#container2')
INSERT [dbo].[PB_Menu_Sub] ([ID], [ID_Menu_Main], [Icon], [Text], [Color], [Mycontainer]) VALUES (3, 1, N'comment-dollar', N'ตารางมูลค่าคอมมิชชั่น', N'#f1af1f', N'#container3')
SET IDENTITY_INSERT [dbo].[PB_Menu_Sub] OFF
SET IDENTITY_INSERT [dbo].[PB_Roles] ON 

INSERT [dbo].[PB_Roles] ([ID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[PB_Roles] ([ID], [RoleName]) VALUES (2, N'InternalEmployee')
INSERT [dbo].[PB_Roles] ([ID], [RoleName]) VALUES (3, N'CallCenter')
SET IDENTITY_INSERT [dbo].[PB_Roles] OFF
SET IDENTITY_INSERT [dbo].[PB_RolesMenu] ON 

INSERT [dbo].[PB_RolesMenu] ([ID], [ID_PB_Roles], [ID_PB_Menu_Sub]) VALUES (1, 1, 1)
INSERT [dbo].[PB_RolesMenu] ([ID], [ID_PB_Roles], [ID_PB_Menu_Sub]) VALUES (2, 1, 2)
INSERT [dbo].[PB_RolesMenu] ([ID], [ID_PB_Roles], [ID_PB_Menu_Sub]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[PB_RolesMenu] OFF
SET IDENTITY_INSERT [dbo].[PB_Users] ON 

INSERT [dbo].[PB_Users] ([ID], [EmployeeCode], [Password], [EmployeeFullName], [RoleID], [AddBy], [AddDate], [LastLoginDate], [LastLoginViaURL]) VALUES (8, N'590035', NULL, NULL, 1, N'620029', CAST(N'2019-12-16T17:21:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[PB_Users] ([ID], [EmployeeCode], [Password], [EmployeeFullName], [RoleID], [AddBy], [AddDate], [LastLoginDate], [LastLoginViaURL]) VALUES (7, N'620025', NULL, NULL, 1, N'620029', CAST(N'2019-12-16T16:02:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[PB_Users] ([ID], [EmployeeCode], [Password], [EmployeeFullName], [RoleID], [AddBy], [AddDate], [LastLoginDate], [LastLoginViaURL]) VALUES (6, N'620029', NULL, NULL, 1, N'590035', CAST(N'2019-12-16T15:57:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[PB_Users] OFF
ALTER TABLE [dbo].[PB_AnnounceMathDocs] ADD  CONSTRAINT [DF_PB_DocsAnnounce_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[PB_CommRates] ADD  CONSTRAINT [DF_PB_CommRates_LastModifyDate]  DEFAULT (getdate()) FOR [LastModifyDate]
GO
ALTER TABLE [dbo].[PB_CommRates] ADD  CONSTRAINT [DF_PB_CommRates_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[PB_Users] ADD  CONSTRAINT [DF_PB_Users_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PB_CommRatesDownload]
(
	@IsTemplate BIT=0
)
AS BEGIN SET NOCOUNT ON;	

	IF @IsTemplate = 1 BEGIN
	   SELECT	 TOP(0)	
				 NULL[Product Code]	      ,NULL[Year]			,NULL[Sum Assured]   ,NULL[Entry Age]
				,NULL[Year 1]		  	  ,NULL[Year 2]			,NULL[Year 3]		 ,NULL[Year 4]
				,NULL[Year 5]			  ,NULL[Year 6]			,NULL[Year 7]		 ,NULL[Year 8]
				,NULL[Year 9]			  ,NULL[Year 10]		,NULL[Year 11+];

	END ELSE BEGIN
	   SELECT	 PlanCodeExcludeYear [Product Code]	      ,TotalYear [Year]			,SumAssured [Sum Assured]   ,EntryAge [Entry Age]
				,Year01 [Year 1]		  				  ,Year02[Year 2]			,Year03[Year 3]				,Year04[Year 4]
				,Year05 [Year 5]					      ,Year06[Year 6]			,Year07[Year 7]			    ,Year08[Year 8]
				,Year09 [Year 9]						  ,Year10[Year 10]	   	    ,Year11[Year 11+]
	   FROM      PB_CommRates;
		
	END
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	drop PROCEDURE [PB_CommRatesImport]
--  EXEC  [dbo].[PB_CommRatesImport]
CREATE PROCEDURE [dbo].[PB_CommRatesImport]
 @AddBy VARCHAR(20),
 @PB_CommRatesImport PB_CommRatesImport READONLY

AS BEGIN SET NOCOUNT ON;	

	SELECT  *
    INTO	#PB_CommRatesImport
	FROM	@PB_CommRatesImport

	DECLARE @Maxrows smallint = (SELECT MAX(RunNumber) FROM #PB_CommRatesImport);
	DECLARE @Currow  smallint = 1;
	DECLARE @CurreExistPlanCode varchar(100)='';
	DECLARE @CurrExistEntryAge  varchar(100)='';
	DECLARE @CurrExistSumAssured  varchar(100)='';
	DECLARE @CurrExistTotalyear   varchar(100)='';

	--<-- Delete unnecessary rows ---<<
	DELETE #PB_CommRatesImport
	WHERE  [Product Code] IS NULL AND [Year] IS NULL AND [Sum Assured] = ''  AND [Entry Age] IS NULL
	AND	   [Year 1] IS NULL;

	--<-- Rmove space in Product Code --<<
	UPDATE #PB_CommRatesImport SET [Product Code] = REPLACE([Product Code],' ','')
	WHERE  [Product Code] IS NOT NULL;

	--<-- Validate Product Code --<<
	UPDATE #PB_CommRatesImport SET [Import Result] ='Product Code ต้องไม่มีเครื่องหมาย - '
	WHERE  [Product Code] LIKE '-';

	--<-- Remove [Sum Assured] --<<
	UPDATE #PB_CommRatesImport SET [Sum Assured] =RTRIM([Sum Assured]);

	WHILE (@Currow <= @Maxrows)  BEGIN
		DECLARE   @CurrPlanCode	   VARCHAR(100);
		DECLARE   @CurrEntryAge	   VARCHAR(100);
		DECLARE   @CurrSumAssured  VARCHAR(100);
		DECLARE   @CurrTotalyear   VARCHAR(100);

	    SELECT    @CurrPlanCode   = [Product Code] ,
				  @CurrEntryAge   = [Entry Age],
				  @CurrSumAssured = [Sum Assured],
				  @CurrTotalyear  = [Year]
		FROM	  #PB_CommRatesImport
		WHERE     RunNumber = @Currow;

		--<< Insert previous Plancode if current Plancde is null ---<<
		IF @CurrPlanCode IS NOT NULL AND @CurrPlanCode <> '' BEGIN
			SET @CurreExistPlanCode = @CurrPlanCode;

		END ELSE BEGIN
			UPDATE #PB_CommRatesImport SET [Product Code] =@CurreExistPlanCode
			WHERE  RunNumber = @Currow;

		END

		--<< Insert previous [Entry Age] if current [Entry Age] is null ---<<	
		IF @CurrEntryAge IS NOT NULL AND @CurrEntryAge <> '' BEGIN
			SET @CurrExistEntryAge = @CurrEntryAge;

		END ELSE BEGIN
			UPDATE #PB_CommRatesImport SET [Entry Age] =@CurrExistEntryAge
			WHERE  RunNumber = @Currow;

		END

		--<< Insert previous [Sum Assured] if current [Sum Assured] is null ---<<		
		IF @CurrSumAssured IS NOT NULL AND @CurrSumAssured <> '' BEGIN
			SET @CurrExistSumAssured = @CurrSumAssured;

		END ELSE BEGIN
			UPDATE #PB_CommRatesImport SET [Sum Assured] =@CurrExistSumAssured
			WHERE  RunNumber = @Currow;

		END

		--<< Insert previous [year] if current [year] is null ---<<		
		IF @CurrTotalyear IS NOT NULL AND @CurrTotalyear <> '' BEGIN
			SET @CurrExistTotalyear = @CurrTotalyear;

		END ELSE BEGIN
			UPDATE #PB_CommRatesImport SET [Year] =@CurrExistTotalyear
			WHERE  RunNumber = @Currow;

		END
	
		SET @Currow+= 1;
	END

	--<-- Validate If found plancode value is null --<<
	UPDATE #PB_CommRatesImport SET [Import Result]= 'ไม่มี Plan Code'
	WHERE  [Product Code] IS  NULL;

	----<-- Validate Product Code was already exists --<<
	--UPDATE B
	--SET	   B.[Import Result] += 'Plan Code [ '+ B.[Product Code]  + ' ] มีในระบบแล้ว'
	--FROM   PB_CommRates A INNER JOIN #PB_CommRatesImport B ON A.PlanCodeExcludeYear = B.[Product Code]

	--<-- Delete current data which "Plan Code" is duplicate with new data
	DELETE A
	FROM   PB_CommRates A INNER JOIN  #PB_CommRatesImport B ON A.PlanCodeExcludeYear = B.[Product Code]

	--< If validate pass, Insert to table.
	IF NOT EXISTS(SELECT 1 FROM #PB_CommRatesImport WHERE [Import Result] <> '')  BEGIN
		INSERT		 PB_CommRates
					(PlanCodeExcludeYear  ,TotalYear		,SumAssured	    ,EntryAge	
					,Year01				  ,Year02			,Year03			,Year04
					,Year05				  ,Year06			,Year07			,Year08
					,Year09				  ,Year10			,Year11			,AddBy)
	    SELECT		[Product Code]		  ,[Year]			,[Sum Assured]  ,[Entry Age]
				    ,[Year 1]			  ,[Year 2]			,[Year 3]		,[Year 4]
				    ,[Year 5]			  ,[Year 6]			,[Year 7]		,[Year 8]
				    ,[Year 9]			  ,[Year 10]    	,[Year 11+]		,@AddBy
		FROM		 #PB_CommRatesImport;  

	END

	--<--- Return data --<<
	UPDATE #PB_CommRatesImport SET [Import Result]  = '<div class="success_label">-- บันทึกสำเร็จ --</div>' 
	WHERE  [Import Result] ='';

	SELECT * FROM #PB_CommRatesImport;
END
-- TRUNCATE TABLE PB_CommRates
-- select * FROM  PB_CommRates


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PB_GetMneuByRoldID]
(
	@RoldName varchar(50) = NULL,
	@RoldID tinyint =NULL
)
AS BEGIN SET NOCOUNT ON;	

	IF(@RoldName IS NOT NULL) BEGIN
		SET @RoldID = (SELECT ID FROM PB_Roles WHERE Lower(RoleName) = Lower(@RoldName) );
	END

	SELECT   C.ID ,C.Icon		  ,C.PartailViewUrl			 ,C.javascriptFn
		    ,C.[Text]			  ,B.ID_Menu_Main			 ,B.Icon AS SubIcon  
			,B.[Text] AS SubText  ,B.Color AS SubColor       ,B.Mycontainer  
	FROM    PB_RolesMenu A INNER JOIN PB_Menu_Sub B  ON A.ID_PB_Menu_Sub = B.ID
						   INNER JOIN PB_Menu_Main C ON B.ID_Menu_Main = C.ID
	WHERE   A.ID_PB_Roles = @RoldID
	ORDER BY C.OrderBy

END
GO
