@{
    Layout = null;
}
<div>
    <div class="container pb20">
        <div class="content-header"></div>
        <div>
            <div id="divContent">
                <div class="container" id="containerMenu">
                    <div class="content-sub-menu bar"></div>
                </div>
                <div class="container" id="container1" style="display:none">
                    <div>
                        <div class="flex-column">
                            <div class="flex-column">
                                <div class="flex-column">
                                    <label class="font-s ptb-1">- การอัปโหลด ถ้าชื่อไฟล์ที่อัปโหลดมีอยู่แล้วในระบบ ระบบจะบันทึกไฟล์อัปโหลดใหม่ทับไฟล์เก่า</label>
                                    <label class="font-s ptb-1">- ตัวอย่างชื่อไฟล์  <label class="error_label">10HL1N_แฮปปี้ไลฟ์ชำระเบี้ย10ปี.PDF </label></label>
                                </div>
                                <div class="flex-row m10">
                                    <label class="jus-center btn-trans mr5" id="btnPlanDocDownload"><i class="fas fa-eye mr10"></i>แสดงข้อมูลทั้งหมดในะระบบ</label>
                                    <label class="jus-center btn-trans btn-upload" id="updPlanDoc"><i class="fas fa-file-upload mr10"></i> อัปโหลด PDF</label>
                                </div>
                                <div id="divPlanDocsList"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" id="container2" style="display:none">
                    <div>
                        <div class="align-i-start flex-column">
                            <div class="flex-column">
                                <div class="flex-column">
                                    <label class="font-s ptb-1">- คลิ้กปุ่ม "ดาวโหลดไฟล์ Template" เพื่อดาวโหลด template ที่จะใช้ในการอัปโหลด</label>
                                    <label class="font-s ptb-1">- การอัปโหลด ถ้า PlanCode มีอยู่แล้วในระบบ ระบบจะลบข้อมูลเดิมทิ้งและนำข้อมูลใหม่เข้าไปแทน</label>
                                </div>
                                <div class="bar flex-row pt-2 pb-2">
                                    <label class="jus-center btn-trans mr5" id="btnComRateDownload"><i class="fas fa-file-download mr10"></i>ดาวโหลดข้อมูลทั้งหมดในระบบ</label>
                                    <label class="jus-center btn-trans mr5" id="btnComRateTemplate"><i class="fas fa-file-download mr10"></i>ดาวโหลดไฟล์ Template</label>
                                    <label class="jus-center btn-trans btn-upload" id="updCommRate"><i class="fas fa-file-upload mr10"></i>อัปโหลด</label>
                                </div>
                            </div>
                            <div id="divCommValidateResult"></div>
                        </div>
                    </div>
                </div>
                <div class="container" id="container3" style="display:none">
                    <div>
                        <div class="align-i-start flex-column">
                            <div class="flex-column">
                                <div class="flex-column">
                                    <label class="font-s ptb-1">- การอัปโหลด: ถ้าชื่อไฟล์ซ้ำกับไฟล์เดิมที่มีอยู่แล้ว ระบบจะลบไฟล์เดิมทิ้งและนำไฟล์ใหม่เข้าไปแทน</label>
                                </div>
                                <div class="bar flex-row">
                                    <label class="jus-center btn-trans mr5" id="btnShowAnnounceMathDocs"><i class="fas fa-file-download mr10"></i>แสดงไฟล์ทั้งหมดในระบบ</label>
                                    <label class="jus-center btn-trans btn-upload" id="updAnnounceMathDocs"><i class="fas fa-file-upload mr10"></i>อัปโหลด</label>
                                </div>
                            </div>
                            <div id="divMathList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>