@{
    Layout = null;
}
<div>
    <div class="container">
        <div class="content-header"></div>
        <div id="divContent">
            <div class="container" id="containerMenu">
                <div class="content-sub-menu bar"></div>
            </div>
            <div class="container" id="divMath">
                <div class="flex-column">
                    <label class="font-s ptb-1">- คลิกที่ชื่อไฟล์เพื่อดาวน์โหลด</label>
                </div>
                <div class="flex-column">
                    <div id="divAnnounceMathDocsList"></div>
                </div>
            </div>     
        </div>
    </div>
</div>